.section-cta {
  padding: 40px 0;
  background-color: #FAFAFA;

  .cta-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 10px 0 0;
    }
  }
}

@media (max-width: $mobile) {
  .section-cta {
    .cta-wrap {
      flex-direction: column;
      grid-gap: 50px;
      padding: 0 30px;

      .btn {
        width: 100%;
      }
    }
  }
}
