.section-hero {
  min-height: 883px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 104px;

  .hero-wrap {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    grid-gap: 27px;

    .hero-content-wrap {
      max-width: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      grid-gap: 35px;

      h4 {
        color: $text-second;
        font-weight: 500;
      }

      .buttons-wrap {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 10px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .section-hero {
    min-height: initial;
    padding-top: 84px;

    .hero-wrap {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 0 69px 0;
      grid-gap: 80px;

      .hero-content-wrap {
        text-align: center;

        .buttons-wrap {
          justify-content: center;
          grid-gap: 20px;
        }
      }
    }
  }
}
