.section-testimonials {
  padding: 80px 0;
  background-color: #FAFAFA;

  .testimonials-cards {
    margin-top: 80px;

    .testimonial-card {
      border-radius: 5px;
      border: 1px solid #DEDEDE;
      background-color: #fff;
      padding: 30px 35px;
      display: flex;
      flex-direction: column;
      grid-gap: 20px;

      .testimonial-card-footer {
        display: flex;
        align-items: center;
        grid-gap: 15px;

        .testimonial-card-icon-wrap {
          img {
            display: block;
            border-radius: 50%;
            max-width: 50px;
            aspect-ratio: 1/1;
            object-fit: cover;
          }
        }
      }
    }
  }
}
