%heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.42;
  color: $text;
}

h1, .h1 {
  @extend %heading;
  font-size: 58px;
}

h2, .h2 {
  @extend %heading;
  font-size: 40px;
}

h3, .h3 {
  @extend %heading;
  font-size: 24px;
}

h4, .h4 {
  @extend %heading;
  font-size: 20px;
}

h5, .h5 {
  @extend %heading;
  font-size: 16px;
}

h6, .h6 {
  @extend %heading;
  font-size: 14px;
}

@media (max-width: $tablet) {
  h1, .h1 {
    font-size: 40px;
  }
}
