$primary: #FFA62B;
$secondary: #00A0C1;
$text: #252B42;
$text-second: #737373;
$text-muted: #BDBDBD;
$text-light: #FFFFFF;
$text-error: red;
$text-success: #14ae5c;

//Breakpoints
$tablet: 1023px;
$mobile: 767px;
