.section-why-us {
  padding: 80px 0;

  .why-us-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 80px;

    .why-us-card {
      border-radius: 10px;
      background: #D9EDFF;

      .why-us-card-head {
        padding: 30px;
        display: flex;
        grid-gap: 15px;
        align-items: center;

        .why-us-card-icon-wrap {
          width: 72px;
          height: 72px;
          background-color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-width: 32px;
            max-height: 32px;
          }
        }
      }

      .why-us-card-body {
        border-radius: 11px;
        border: 1px solid #A9D6FF;
        background: #fff;
        padding: 30px 50px;

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            line-height: 1.7;
            margin-bottom: 5px;
            font-weight: 600;
            color: $text-second;

            &:before {
              content: "- ";
            }
          }
        }
      }
    }
  }
}
